<!DOCTYPE html>
<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Consulta de Alunos</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    </head>
    <body>
        <h1>INFORMAÇÕES DO ALUNO</h1> 
            
        <form action="/consultaDadosAluno" method="get">

            <label for="nome">Consultar aluno por nome:</label>
            <input type="text" id="nome" name="nome" required>

            <button type="submit">Consultar</button>
        </form>
        <br>

        <div>
            <p>ID: <span th:text="${dados.id}"> </span></p>
            <p>NOME DO ALUNO: <span th:text="${dados.nome}"></span></p> 
            <p>CPF: <span th:text="${dados.cpf"></span></p> 
            <p>EMAIL: <span th:text="${dados.email}"></span></p>
            <p>TELEFONE: <span th:text="${dados.telefone}"></span></p>
            <p>ENDEREÇO: <span th:text="${dados.endereço}"></span></p>
            <p>NASCIMENTO: <span th:text="${dados.nascimento}"></span></p>
        </div>     

        <a href="/listaAlunos">Lista de Alunos</a>
    </body>
</html>
